<aside class="banner-ad">
	<section class="ad">
		<h1>Spotlight:</h1>
		<img class="banner-logo" src="https://img.itch.zone/aW1nLzMxMDIwNjMucG5n/315x250%23cb/ZalKiL.png">
		<p><em>Beyond the Rift</em> is a game for three players that follows the journey of the ECHO, a lost memory trying to find peace in a place that was ripped from the world.</p>
		<a class="button" href="https://mnemonicrpg.itch.io/mnemonic-beyond-the-rift/purchase" target="_blank">$30 on itch.io</a>
	<!-- 	<p>This is an ad for an indie game. The game is chosen randomly from a predefined playlist of games in need of visibility. Designers opt into the system; no one is being volunteered for promotion who doesn't want it.</p>
		<p>Imagine this space looking much nicer than this, with a Mnemonic-style texture so that it fits with the rest of the page.</p>
		<p>The ad includes not just a link to check out the game, but also a description of the game submitted by the designer so that users can tell right away if this is something they want to check out.</p>
	 -->
	</section>

</aside>