// @font-face {
// 	font-family: "Fredericka the Great";
//     src: url("fonts/FrederickatheGreat-Regular.ttf") !important;
// }

body {
	filter: greyscale(1);
}
h1, h2, dt {
	font-family: "Fredericka the Great" !important;
	border-image-outset: 0 0 .35em .1em !important;
	margin-bottom: 0 !important;
}

figure {
	display: none;
}

h1 {
	line-height: 1.2em;
	margin-bottom: 0 !important;
}
h2 {
	margin-top: .5em !important;
}

blockquote {
	filter: greyscale() !important;
}
nav#game-nav {
}

article.game {
}

.breadcrumb {
	display: none;
}

.byline {
}


p + table,
ul + table {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}