@media print {
  @page {
    margin: .5in 0 .5in 0;
  }

  footer.footer, aside.game-nav, aside.blog-nav, header#site-header {
    display: none;
  }
  .banner-ad {
    display: none;
  }
  body {
    display: block !important;
    border-image-source: none !important;
    background: none !important;
    margin: 0;
    padding:  0;
    position: static !important;
    overflow: auto !important;
    height: 100%;
    width: 100%;
    font-size: 14pt;
  }
  main {
    display: block !important;
    margin: auto !important;
    padding: 0 !important;
    height: 100%;
    box-decoration-break: clone;
    overflow: auto !important;
  }
  article.game,
  article.blog {
    box-decoration-break: slice;
    filter: none;
    border-image-source: none;
    background: none;
    overflow: auto !important;
    margin: auto !important;
    padding: 0 .25in !important;
    width: auto !important;
    height: 100%;
    max-width: 100% !important;
    display: block;
    box-shadow: none;
    orphans: 2;
    widows: 2;
    hr {
      display: block !important;
      break-after: always !important;
    }
    .breadcrumb {
      display: none;
    }
    table {
      font-family: Dosis;
      break-inside: avoid;
      margin: 0;
      box-sizing: border-box;
      font-size: .8em;
      tbody {
        tr:nth-child(odd) > td {
          background: rgba(120, 40, 0, 0.1) !important;
          border-bottom: 1px solid rgba(120, 40, 0, 0.2) !important;
        }
      }
    }
    a {
      opacity: 1 !important;
    }
    blockquote {
      page-break-inside: avoid;
    }
    h1, h2, h3 {
      page-break-after: avoid;
    }
  }

}